h1{
  color: #FAF3DD;
 font-family: 'Short Stack', cursive;
  text-align: center;
  margin-top: 300px;
  font-size: 35px


}
body{
  background-color: #5e6472
}
h3{
  color: #AED9E0;
  border: .01em solid #FFA69E;
  text-align: center;
  font-family: 'Short Stack', cursive;
  margin-left: auto;
  margin-right: auto;
}
.center{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.start{
  color:#FAF3DD;
  font-family:'Short Stack', cursive;
  background-color:#FFA69E;
  width: 150px;
  border-radius: 10px;
  padding: 1px 5px 1px 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.arrow {
  width: 40px;
  height: 10px;
  background-color:#FAF3DD;
  transform: rotate(30deg);
  position: absolute;
  bottom: -70px;
  left:685px;


}
.arrow1{
  width: 40px;
  height: 10px;
  background-color:#FAF3DD;
  transform: rotate(-30deg);
  position: absolute;
  bottom: -70px;
  right: 685px;
}
.circles{
width: 30px;
height: 30px;
border-radius: 50%;
background-color:#FFA69E;
margin: 20px;
position: relative;
bottom: 160px;


}
p{
  position: absolute;
  bottom: 370px;
  left: 90px;
  color: #AED9E0;
  font-family:'Short Stack', cursive;

}
